body{
  
    background-image: url(img/planeta-ficticio-com-ceu-noturno-colorido-estrelas-e-nebulosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
     color: white;
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     height: 100%;
     width: 100%;
    overflow-x: hidden;
    animation:ani 2s linear reverse;
     
   

}


header{
     width: 100%;
    background-color: rgba(37, 34, 44, 0.534);
    padding-bottom: 30px;
    padding-top: 30px;
   

}

.btn button {
    width: 10px;
}
.caixa1{
    
    display: flex;
    height: 100%;
    transition: 1.5s;
    width: 100%;
    justify-content: center;
   
 

   
}


.caixa1 img{
   display: flex;
    height: 200px;
    width: 200px;
    margin-right: 550px;
    margin-top: 190px;
    border-radius: 150px;
    animation-name: ani;
    animation:ani 2s linear reverse;

}
.a{
    margin-top: -250px;
}
.items{
    
    margin-top: -150px;
   
}
.items img:hover{
    transform: scale(0.8);
    transition: 1s;
}
.paragrafo{
    display: flex;
    justify-content: center;
    margin-top: -150px;
    
}

.paragrafo a{
   text-decoration: none;
   text-transform: uppercase;
   color: white;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-color: rgba(19, 19, 19, 0.33);
   padding-left: 5px;
   padding-right: 5px;
   border-radius: 10px;
    
}
.paragrafo2{
    display: flex;
    justify-content: center;
}
.paragrafo2 a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(0, 0, 0, 0.33);
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
     
 }


.paragrafo3{
    display: flex;
    justify-content: center;
}

.paragrafo3 a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(0, 0, 0, 0.33);
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
     
 }


.menu{
    
    display: flex;
    justify-content: center;
    visibility: hidden;
   
    

}
.menu a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 15px;
    padding-top: 10px;
    transform: scale(0.8);
    transition: 0.5s;
    

}
.menu a:hover{
    color:white;
    transform: scale(1.1);
    transition: 1s;
}

.N1{
    padding-right: 15px;
}
.n2{
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(222, 75, 99);
    border-radius: 10px;
      
}
.n3{
    padding-right: 15px;
}
.img1 img{
    width: 55px;
}

.img1 img:hover{
    transform: scale(1.1);
}


#titulo{
    color: white;
    animation-name: ani;
    animation:ani 2s linear reverse;
    text-align: center;
    margin-top: -60PX;
}
#titulo img{
   margin-left: 250px;
   margin-top: -70px;
    width: 50px;

}

@keyframes ani{
  to{
 
  transform: translateX(-1890px);
  transition: 1s;
  
  }
 from{
   
   transform: translateX(0px);
   transition: 2s;
 }

}

.menu-r{
    display: flex;
    justify-content: right;
    margin-right: 50px;
}
.menu-r img{
    cursor: pointer;
    width: 50px;
    border-radius: 10px;
    border-width: 2px;
  
   
}

.menu-r img:hover{
   
transform: scale(1.1);
transition: 1s;
}

.titulo2 h1{
    display: flex;
    text-transform: uppercase;
   
}
.titulo2{

    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: rgb(194, 167, 250);
    
}
#ba{
    transform: scale(1.0);
}


#con{
visibility: hidden;
width: 1500px;
border-color: aqua;
transform: scale(1);
margin-top: -240px;
}
.rd h1{
   transform: scale(1);
    font-size: 15px;
    margin-top: -400px;
    margin-left: 545px;
    color: black;
    animation:ani 2s linear reverse;
  
}
#con .not{
    width: 800px;
    height: 500px;
    margin-top: -530px;
    margin-left: 350px;
  
}


.linke img{
    width: 140px;
    height: 150px;
    margin-top: -350px;
    margin-left: -95px;
    transform: scale(1.1);
    -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
-moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
}
.lin{
    float: left;
    transform: scale(1.1);
    margin-top: 20px;
    margin-left: -52px;
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    animation:ani 2s linear reverse;
}
.linke2 img{
    width: 150px;
    height: 150px;
    margin-top: -350px;
    margin-left: -445px;
    transform: scale(1.1);
    -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
-moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
}

.git2{
    float:left;
    transform: scale(1.1);
    margin-top: 20px;
    margin-left: -395px;
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    animation:ani 2s linear reverse;
}

#con img:hover{
    transform: scale(1);
}
#btn{
    background: url(img/ir.png);
    background-size: cover;
   visibility: visible;
   width: 50px;
   height: 50px;
   margin-top: 100px;

}

#btn2{
    background: url(img/volt3.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    visibility: visible;
    margin-left: 5px;
    margin-top: 100px;
 }
 .botoes{
   
    margin-top: 60px;
    display: flex;
    justify-content: center;

    
 }
 #btn:hover{
   
    background-color: rgb(116, 1, 188);
 }
 #btn2:hover{
    background-color: rgb(116, 1, 188);
 }
 .sobre2 {
    display: flex;
  color: rgb(12, 151, 237);
  
    
   
 }
 
 .perfil{
   
    margin-left: 300px;
    
 }

 .menu-r button{
    background: transparent;
 } 

 @media(min-width:375px) and (max-width:667px){
    body{
  
        background-image: url(img/planeta-ficticio-com-ceu-noturno-colorido-estrelas-e-nebulosa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
         color: white;
         margin: 0;
         padding: 0;
         font-family: 'Poppins', sans-serif;
         height: 100%;
        overflow-x: hidden;
        animation:ani 2s linear reverse;
         
       
    
    }
    
    
    header{
        
        background-color: rgba(37, 34, 44, 0.534);
        padding-bottom: 30px;
        padding-top: 30px;
       
    
    }
    
    .btn button {
        width: 10px;
    }
    .caixa1{
        
        display: flex;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: 1.5s;
        justify-content: center;
        margin-left: -40px;
       
     
    
       
    }
    
    
    .caixa1 img{
       display: flex;
        height: 200px;
        width: 200px;
        margin-right: 550px;
        margin-top: 190px;
        border-radius: 150px;
        animation-name: ani;
        animation:ani 2s linear reverse;
    
    }
    .a{
        margin-top: -250px;
        margin-left: 100px;
    }
    .items{
        
        margin-top: -150px;
       
    }
    .items img:hover{
        transform: scale(0.8);
        transition: 1s;
    }
    .paragrafo{
        display: flex;
        justify-content: center;
        margin-top: -150px;
        
    }
    
    .paragrafo a{
       text-decoration: none;
       text-transform: uppercase;
       color: white;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       background-color: rgba(19, 19, 19, 0.33);
       padding-left: 5px;
       padding-right: 5px;
       border-radius: 10px;
        
    }
    .paragrafo2{
        display: flex;
        justify-content: center;
    }
    .paragrafo2 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .paragrafo3{
        display: flex;
        justify-content: center;
    }
    
    .paragrafo3 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .menu{
        
        display: flex;
        justify-content: center;
        visibility: hidden;
       margin-left: -65px;
        
    
    }
    .menu a{
        color:white;
        text-decoration: none;
        font-size: 12px;
        margin-left: 15px;
        padding-top: 10px;
        transform: scale(0.8);
        transition: 0.5s;
        
    
    }
    .menu a:hover{
        color:white;
        transform: scale(1.1);
        transition: 1s;
    }
    
    .N1{
        padding-right: 15px;
    }
    .n2{
        padding-right: 15px;
        padding-left: 15px;
        background-color: rgb(222, 75, 99);
        border-radius: 10px;
          
    }
    .n3{
        padding-right: 15px;
    }
    .img1 img{
        width: 55px;
    }
    
    .img1 img:hover{
        transform: scale(1.1);
    }
    
    #titulo h1{
        margin-left: 105px;
    }
    #titulo{
        color: white;
        animation-name: ani;
        animation:ani 2s linear reverse;
        text-align: center;
        margin-top: -60PX;
        font-size: 10px;
    }
    #titulo img{
       margin-right: -120px;
       margin-top: -38px;
        width: 20px;
    
    }
    
    @keyframes ani{
      to{
     
      transform: translateX(-1890px);
      transition: 1s;
      
      }
     from{
       
       transform: translateX(0px);
       transition: 2s;
     }
    
    }
    
    .menu-r button{
        display: flex;
        justify-content: right;
        margin-right: -70px;
    }
    .menu-r img{
        cursor: pointer;
        width: 50px;
        border-radius: 10px;
        border-width: 2px;
        
      
       
    }
    
    .menu-r img:hover{
       
    transform: scale(1.1);
    transition: 1s;
    }
    
    .titulo2 h1{
        display: flex;
        text-transform: uppercase;
        margin-left: 100px;
       
    }
    .titulo2{
    
        display: flex;
        justify-content: center;
        margin-top: 150px;
        color: rgb(194, 167, 250);
        
        
    }
    #ba{
        transform: scale(1.0);
    }
    
    
    #con{
    visibility: hidden;
    width: 1500px;
    border-color: aqua;
    transform: scale(1);
    margin-top: -240px;
    margin-left: 95px;
    }
    .rd h1{
       transform: scale(1);
        font-size: 10px;
        margin-top: -320px;
        margin-left: 650px;
        color: black;
        animation:ani 2s linear reverse;
      
    }
    #con .not{
        width: 400px;
        height: 400px;
        margin-top: -530px;
        margin-left: 550px;
      
    }
    
    
    .linke img{
        width: 70px;
        height:70px;
        margin-top: -270px;
        margin-left: -55px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    .lin{
        float: left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -35px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
        font-size: 10px;
    }
    .linke2 img{
        width: 70px;
        height: 70px;
        margin-top: -270px;
        margin-left: -520px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    
    .git2{
        float:left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -495px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
        font-size: 10px;
    }
    
    #con img:hover{
        transform: scale(1);
    }
    #btn{
        background: url(img/ir.png);
        background-size: cover;
       visibility: visible;
       width: 50px;
       height: 50px;
       margin-top: 100px;
    
    }
    
    #btn2{
        background: url(img/volt3.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        visibility: visible;
        margin-left: 5px;
        margin-top: 100px;
     }
     .botoes{
       
       
        display: flex;
        justify-content: center;
        margin-left: 90px;
    
        
     }
     #btn:hover{
       
        background-color: rgb(116, 1, 188);
     }
     #btn2:hover{
        background-color: rgb(116, 1, 188);
     }
     .sobre2 {
        display: flex;
      color: rgb(12, 151, 237);
      
        
       
     }
     
     .perfil{
       
        margin-left: 300px;
        
     }
    
     .menu-r button{
        background: transparent;
     } 
    
 }

 @media(min-width:414px) and (max-width:896px){
    body{
  
        background-image: url(img/planeta-ficticio-com-ceu-noturno-colorido-estrelas-e-nebulosa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
         color: white;
         margin: 0;
         padding: 0;
         font-family: 'Poppins', sans-serif;
         height: 100%;
         width: 100%;
        overflow-x: hidden;
        animation:ani 2s linear reverse;
        
         
       
    
    }
    
    
    header{
         width: 100%;
        background-color: rgba(37, 34, 44, 0.534);
        padding-bottom: 30px;
        padding-top: 30px;
       
    
    }
    
    .btn button {
        width: 10px;
    }
    .caixa1{
        
        display: flex;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: 1.5s;
        width: 100%;
        justify-content: center;
        margin-left: -40px;

       
     
    
       
    }
    
    
    .caixa1 img{
       display: flex;
        height: 200px;
        width: 200px;
        margin-right: 550px;
        margin-top: 190px;
        border-radius: 150px;
        animation-name: ani;
        animation:ani 2s linear reverse;
    
    }
    .a{
        margin-top: -250px;
    }
    .items{
        
        margin-top: -150px;
       
    }
    .items img:hover{
        transform: scale(0.8);
        transition: 1s;
    }
    .paragrafo{
        display: flex;
        justify-content: center;
        margin-top: -150px;
        
    }
    
    .paragrafo a{
       text-decoration: none;
       text-transform: uppercase;
       color: white;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       background-color: rgba(19, 19, 19, 0.33);
       padding-left: 5px;
       padding-right: 5px;
       border-radius: 10px;
        
    }
    .paragrafo2{
        display: flex;
        justify-content: center;
    }
    .paragrafo2 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .paragrafo3{
        display: flex;
        justify-content: center;
    }
    
    .paragrafo3 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .menu{
        
        display: flex;
        justify-content: center;
        visibility: hidden;
       margin-left: -65px;
        
    
    }
    .menu a{
        color:white;
        text-decoration: none;
        font-size: 12px;
        margin-left: 15px;
        padding-top: 10px;
        transform: scale(0.8);
        transition: 0.5s;
        
    
    }
    .menu a:hover{
        color:white;
        transform: scale(1.1);
        transition: 1s;
    }
    
    .N1{
        padding-right: 15px;
    }
    .n2{
        padding-right: 15px;
        padding-left: 15px;
        background-color: rgb(222, 75, 99);
        border-radius: 10px;
          
    }
    .n3{
        padding-right: 15px;
    }
    .img1 img{
        width: 55px;
    }
    
    .img1 img:hover{
        transform: scale(1.1);
    }
    
    
    #titulo{
        color: white;
        animation-name: ani;
        animation:ani 2s linear reverse;
        text-align: center;
        margin-top: -60PX;
        margin-left: -165px;
        font-size: 10px;
    }
    #titulo img{
       margin-left: 150px;
       margin-top: -38px;
        width: 20px;
    
    }
    
    @keyframes ani{
      to{
     
      transform: translateX(-1890px);
      transition: 1s;
      
      }
     from{
       
       transform: translateX(0px);
       transition: 2s;
     }
    
    }
    
    .menu-r{
        display: flex;
        justify-content: right;
        margin-right: 90px;
    }
    .menu-r img{
        cursor: pointer;
        width: 50px;
        border-radius: 10px;
        border-width: 2px;
      
       
    }
    
    .menu-r img:hover{
       
    transform: scale(1.1);
    transition: 1s;
    }
    
    .titulo2 h1{
        display: flex;
        text-transform: uppercase;
       
    }
    .titulo2{
    
        display: flex;
        justify-content: center;
        margin-top: 150px;
        color: rgb(194, 167, 250);
        
    }
    #ba{
        transform: scale(1.0);
    }
    
    
    #con{
    visibility: hidden;
    width: 1500px;
    border-color: aqua;
    transform: scale(1);
    margin-top: -240px;
    margin-left: 50px;
    
    }
    .rd h1{
       transform: scale(1);
        font-size: 10px;
        margin-top: -320px;
        margin-left: 650px;
        color: black;
        animation:ani 2s linear reverse;
      
    }
    #con .not{
        width: 400px;
        height: 400px;
        margin-top: -530px;
        margin-left: 550px;
      
    }
    
    
    .linke img{
        width: 70px;
        height:70px;
        margin-top: -270px;
        margin-left: -55px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    .lin{
        float: left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -35px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
        font-size: 10px;
    }
    .linke2 img{
        width: 70px;
        height: 70px;
        margin-top: -270px;
        margin-left: -520px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    
    .git2{
        float:left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -495px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
        font-size: 10px;
    }
    
    #con img:hover{
        transform: scale(1);
    }
    #btn{
        background: url(img/ir.png);
        background-size: cover;
       visibility: visible;
       width: 50px;
       height: 50px;
       margin-top: 100px;
    
    }
    
    #btn2{
        background: url(img/volt3.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        visibility: visible;
        margin-left: 5px;
        margin-top: 100px;
     }
     .botoes{
       
        margin-top: 60px;
        display: flex;
        justify-content: center;
    
        
     }
     #btn:hover{
       
        background-color: rgb(116, 1, 188);
     }
     #btn2:hover{
        background-color: rgb(116, 1, 188);
     }
     .sobre2 {
        display: flex;
     
      color: rgb(12, 151, 237);
  
      
        
       
     }
     
     .perfil{
       
        margin-left: 300px;
        
     }
    
     .menu-r button{
        background: transparent;
     } 
    
 }
 @media(min-width:390px) and (max-width:844px){
    body{
  
        background-image: url(img/planeta-ficticio-com-ceu-noturno-colorido-estrelas-e-nebulosa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
         color: white;
         margin: 0;
         padding: 0;
         font-family: 'Poppins', sans-serif;
         height: 100%;
        overflow-x: hidden;
        animation:ani 2s linear reverse;
         
       
    
    }
    
    
    header{
        
        background-color: rgba(37, 34, 44, 0.534);
        padding-bottom: 30px;
        padding-top: 30px;
       
    
    }
    
    .btn button {
        width: 10px;
    }
    .caixa1{
        
        display: flex;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: 1.5s;
        justify-content: center;
        margin-left: -40px;
       
     
    
       
    }
    
    
    .caixa1 img{
       display: flex;
        height: 200px;
        width: 200px;
        margin-right: 550px;
        margin-top: 190px;
        border-radius: 150px;
        animation-name: ani;
        animation:ani 2s linear reverse;
    
    }
    .a{
        margin-top: -250px;
    }
    .items{
        
        margin-top: -150px;
       
    }
    .items img:hover{
        transform: scale(0.8);
        transition: 1s;
    }
    .paragrafo{
        display: flex;
        justify-content: center;
        margin-top: -150px;
        
    }
    
    .paragrafo a{
       text-decoration: none;
       text-transform: uppercase;
       color: white;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       background-color: rgba(19, 19, 19, 0.33);
       padding-left: 5px;
       padding-right: 5px;
       border-radius: 10px;
        
    }
    .paragrafo2{
        display: flex;
        justify-content: center;
    }
    .paragrafo2 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .paragrafo3{
        display: flex;
        justify-content: center;
    }
    
    .paragrafo3 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .menu{
        
        display: flex;
        justify-content: center;
        visibility: hidden;
       margin-left: -65px;
        
    
    }
    .menu a{
        color:white;
        text-decoration: none;
        font-size: 12px;
        margin-left: 15px;
        padding-top: 10px;
        transform: scale(0.8);
        transition: 0.5s;
        
    
    }
    .menu a:hover{
        color:white;
        transform: scale(1.1);
        transition: 1s;
    }
    
    .N1{
        padding-right: 15px;
    }
    .n2{
        padding-right: 15px;
        padding-left: 15px;
        background-color: rgb(222, 75, 99);
        border-radius: 10px;
          
    }
    .n3{
        padding-right: 15px;
    }
    .img1 img{
        width: 55px;
    }
    
    .img1 img:hover{
        transform: scale(1.1);
    }
    
    
    #titulo{
        color: white;
        animation-name: ani;
        animation:ani 2s linear reverse;
        text-align: center;
        margin-top: -60PX;
        margin-left: -165px;
        font-size: 10px;
    }
    #titulo img{
       margin-left: 150px;
       margin-top: -38px;
        width: 20px;
    
    }
    
    @keyframes ani{
      to{
     
      transform: translateX(-1890px);
      transition: 1s;
      
      }
     from{
       
       transform: translateX(0px);
       transition: 2s;
     }
    
    }
    
    .menu-r{
        display: flex;
        justify-content: right;
        margin-right: 90px;
    }
    .menu-r img{
        cursor: pointer;
        width: 50px;
        border-radius: 10px;
        border-width: 2px;
      
       
    }
    
    .menu-r img:hover{
       
    transform: scale(1.1);
    transition: 1s;
    }
    
    .titulo2 h1{
        display: flex;
        text-transform: uppercase;
       
    }
    .titulo2{
    
        display: flex;
        justify-content: center;
        margin-top: 150px;
        color: rgb(194, 167, 250);
        
    }
    #ba{
        transform: scale(1.0);
    }
    
    
    #con{
    visibility: hidden;
    width: 1500px;
    border-color: aqua;
    transform: scale(1);
    margin-top: -240px;
    }
    .rd h1{
       transform: scale(1);
        font-size: 10px;
        margin-top: -320px;
        margin-left: 650px;
        color: black;
        animation:ani 2s linear reverse;
      
    }
    #con .not{
        width: 400px;
        height: 400px;
        margin-top: -530px;
        margin-left: 550px;
      
    }
    
    
    .linke img{
        width: 70px;
        height:70px;
        margin-top: -270px;
        margin-left: -55px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    .lin{
        float: left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -35px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
        font-size: 10px;
    }
    .linke2 img{
        width: 70px;
        height: 70px;
        margin-top: -270px;
        margin-left: -520px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    
    .git2{
        float:left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -495px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
        font-size: 10px;
    }
    
    #con img:hover{
        transform: scale(1);
    }
    #btn{
        background: url(img/ir.png);
        background-size: cover;
       visibility: visible;
       width: 50px;
       height: 50px;
       margin-top: 100px;
    
    }
    
    #btn2{
        background: url(img/volt3.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        visibility: visible;
        margin-left: 5px;
        margin-top: 100px;
     }
     .botoes{
       
        margin-top: 60px;
        display: flex;
        justify-content: center;
    
        
     }
     #btn:hover{
       
        background-color: rgb(116, 1, 188);
     }
     #btn2:hover{
        background-color: rgb(116, 1, 188);
     }
     .sobre2 {
        display: flex;
      color: rgb(12, 151, 237);
      
        
       
     }
     
     .perfil{
       
        margin-left: 300px;
        
     }
    
     .menu-r button{
        background: transparent;
     } 
    
 }
 @media(min-width:360px) and (max-width:740px){
    body{
  
        background-image: url(img/planeta-ficticio-com-ceu-noturno-colorido-estrelas-e-nebulosa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
         color: white;
         margin: 0;
         padding: 0;
         font-family: 'Poppins', sans-serif;
         height: 100%;
        overflow-x: hidden;
        animation:ani 2s linear reverse;
         
       
    
    }
    
    
    header{
        
        background-color: rgba(37, 34, 44, 0.534);
        padding-bottom: 30px;
        padding-top: 30px;
       
    
    }
    
    .btn button {
        width: 10px;
    }
    .caixa1{
        
        display: flex;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: 1.5s;
        justify-content: center;
        margin-left: -40px;
       
     
    
       
    }
    
    
    .caixa1 img{
       display: flex;
        height: 200px;
        width: 200px;
        margin-right: 550px;
        margin-top: 190px;
        border-radius: 150px;
        animation-name: ani;
        animation:ani 2s linear reverse;
    
    }
    .a{
        margin-top: -250px;
    }
    .items{
        
        margin-top: -150px;
       
    }
    .items img:hover{
        transform: scale(0.8);
        transition: 1s;
    }
    .paragrafo{
        display: flex;
        justify-content: center;
        margin-top: -150px;
        
    }
    
    .paragrafo a{
       text-decoration: none;
       text-transform: uppercase;
       color: white;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       background-color: rgba(19, 19, 19, 0.33);
       padding-left: 5px;
       padding-right: 5px;
       border-radius: 10px;
        
    }
    .paragrafo2{
        display: flex;
        justify-content: center;
    }
    .paragrafo2 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .paragrafo3{
        display: flex;
        justify-content: center;
    }
    
    .paragrafo3 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .menu{
        
        display: flex;
        justify-content: center;
        visibility: hidden;
       margin-left: -65px;
        
    
    }
    .menu a{
        color:white;
        text-decoration: none;
        font-size: 12px;
        margin-left: 15px;
        padding-top: 10px;
        transform: scale(0.8);
        transition: 0.5s;
        
    
    }
    .menu a:hover{
        color:white;
        transform: scale(1.1);
        transition: 1s;
    }
    
    .N1{
        padding-right: 15px;
    }
    .n2{
        padding-right: 15px;
        padding-left: 15px;
        background-color: rgb(222, 75, 99);
        border-radius: 10px;
          
    }
    .n3{
        padding-right: 15px;
    }
    .img1 img{
        width: 55px;
    }
    
    .img1 img:hover{
        transform: scale(1.1);
    }
    
    
    #titulo{
        color: white;
        animation-name: ani;
        animation:ani 2s linear reverse;
        text-align: center;
        margin-top: -60PX;
        margin-left: -165px;
        font-size: 10px;
    }
    #titulo img{
       margin-left: 150px;
       margin-top: -38px;
        width: 20px;
    
    }
    
    @keyframes ani{
      to{
     
      transform: translateX(-1890px);
      transition: 1s;
      
      }
     from{
       
       transform: translateX(0px);
       transition: 2s;
     }
    
    }
    
    .menu-r{
        display: flex;
        justify-content: right;
        margin-right: 90px;
    }
    .menu-r img{
        cursor: pointer;
        width: 50px;
        border-radius: 10px;
        border-width: 2px;
      
       
    }
    
    .menu-r img:hover{
       
    transform: scale(1.1);
    transition: 1s;
    }
    
    .titulo2 h1{
        display: flex;
        text-transform: uppercase;
       
    }
    .titulo2{
    
        display: flex;
        justify-content: center;
        margin-top: 150px;
        color: rgb(194, 167, 250);
        
    }
    #ba{
        transform: scale(1.0);
    }
    
    
    #con{
    visibility: hidden;
    width: 1500px;
    border-color: aqua;
    transform: scale(1);
    margin-top: -240px;
    }
    .rd h1{
       transform: scale(1);
        font-size: 10px;
        margin-top: -320px;
        margin-left: 650px;
        color: black;
        animation:ani 2s linear reverse;
      
    }
    #con .not{
        width: 400px;
        height: 400px;
        margin-top: -530px;
        margin-left: 550px;
      
    }
    
    
    .linke img{
        width: 70px;
        height:70px;
        margin-top: -270px;
        margin-left: -55px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    .lin{
        float: left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -35px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
        font-size: 10px;
    }
    .linke2 img{
        width: 70px;
        height: 70px;
        margin-top: -270px;
        margin-left: -520px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    
    .git2{
        float:left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -495px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
        font-size: 10px;
    }
    
    #con img:hover{
        transform: scale(1);
    }
    #btn{
        background: url(img/ir.png);
        background-size: cover;
       visibility: visible;
       width: 50px;
       height: 50px;
       margin-top: 100px;
    
    }
    
    #btn2{
        background: url(img/volt3.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        visibility: visible;
        margin-left: 5px;
        margin-top: 100px;
     }
     .botoes{
       
        margin-top: 60px;
        display: flex;
        justify-content: center;
    
        
     }
     #btn:hover{
       
        background-color: rgb(116, 1, 188);
     }
     #btn2:hover{
        background-color: rgb(116, 1, 188);
     }
     .sobre2 {
        display: flex;
      color: rgb(12, 151, 237);
      
        
       
     }
     
     .perfil{
       
        margin-left: 300px;
        
     }
    
     .menu-r button{
        background: transparent;
     } 
    
 }

 @media(min-width:820px) and (max-width:1180px){
    body{
  
        background-image: url(img/planeta-ficticio-com-ceu-noturno-colorido-estrelas-e-nebulosa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
         color: white;
         margin: 0;
         padding: 0;
         font-family: 'Poppins', sans-serif;
         height: 100%;
         width: 100%;
        overflow-x: hidden;
        animation:ani 2s linear reverse;
         
       
    
    }
    
    
    header{
         width: 100%;
        background-color: rgba(37, 34, 44, 0.534);
        padding-bottom: 30px;
        padding-top: 30px;
       
    
    }
    
    .btn button {
        width: 10px;
    }
    .caixa1{
        
        display: flex;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: 1.5s;
        width: 100%;
        justify-content: center;
       
     
    
       
    }
    
    
    .caixa1 img{
       display: flex;
        height: 200px;
        width: 200px;
        margin-right: 550px;
        margin-top: 190px;
        border-radius: 150px;
        animation-name: ani;
        animation:ani 2s linear reverse;
    
    }
    .a{
        margin-top: -250px;
    }
    .items{
        
        margin-top: -150px;
       
    }
    .items img:hover{
        transform: scale(0.8);
        transition: 1s;
    }
    .paragrafo{
        display: flex;
        justify-content: center;
        margin-top: -150px;
        
    }
    
    .paragrafo a{
       text-decoration: none;
       text-transform: uppercase;
       color: white;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       background-color: rgba(19, 19, 19, 0.33);
       padding-left: 5px;
       padding-right: 5px;
       border-radius: 10px;
        
    }
    .paragrafo2{
        display: flex;
        justify-content: center;
    }
    .paragrafo2 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .paragrafo3{
        display: flex;
        justify-content: center;
    }
    
    .paragrafo3 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .menu{
        
        display: flex;
        justify-content: center;
        visibility: hidden;
       
        
    
    }
    .menu a{
        color:white;
        text-decoration: none;
        font-size: 25px;
        margin-left: 15px;
        padding-top: 10px;
        transform: scale(0.8);
        transition: 0.5s;
        
    
    }
    .menu a:hover{
        color:white;
        transform: scale(1.1);
        transition: 1s;
    }
    
    .N1{
        padding-right: 15px;
    }
    .n2{
        padding-right: 15px;
        padding-left: 15px;
        background-color: rgb(222, 75, 99);
        border-radius: 10px;
          
    }
    .n3{
        padding-right: 15px;
    }
    .img1 img{
        width: 55px;
    }
    
    .img1 img:hover{
        transform: scale(1.1);
    }
    
    
    #titulo{
        color: white;
        animation-name: ani;
        animation:ani 2s linear reverse;
        text-align: center;
        margin-top: -60PX;
    }
    #titulo img{
       margin-left: 250px;
       margin-top: -70px;
        width: 50px;
    
    }
    
    @keyframes ani{
      to{
     
      transform: translateX(-1890px);
      transition: 1s;
      
      }
     from{
       
       transform: translateX(0px);
       transition: 2s;
     }
    
    }
    
    .menu-r{
        display: flex;
        justify-content: right;
        margin-right: 50px;
    }
    .menu-r img{
        cursor: pointer;
        width: 50px;
        border-radius: 10px;
        border-width: 2px;
      
       
    }
    
    .menu-r img:hover{
       
    transform: scale(1.1);
    transition: 1s;
    }
    
    .titulo2 h1{
        display: flex;
        text-transform: uppercase;
       
    }
    .titulo2{
    
        display: flex;
        justify-content: center;
        margin-top: 150px;
        color: rgb(194, 167, 250);
        
    }
    #ba{
        transform: scale(1.0);
    }
    
    
    #con{
    visibility: hidden;
    width: 1500px;
    border-color: aqua;
    transform: scale(1);
    margin-top: -240px;
    }
    .rd h1{
       transform: scale(1);
        font-size: 15px;
        margin-top: -400px;
        margin-left: 545px;
        color: black;
        animation:ani 2s linear reverse;
      
    }
    #con .not{
        width: 800px;
        height: 500px;
        margin-top: -530px;
        margin-left: 350px;
      
    }
    
    
    .linke img{
        width: 140px;
        height: 150px;
        margin-top: -350px;
        margin-left: -95px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    .lin{
        float: left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -52px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
    }
    .linke2 img{
        width: 150px;
        height: 150px;
        margin-top: -350px;
        margin-left: -445px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    
    .git2{
        float:left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -395px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
    }
    
    #con img:hover{
        transform: scale(1);
    }
    #btn{
        background: url(img/ir.png);
        background-size: cover;
       visibility: visible;
       width: 50px;
       height: 50px;
       margin-top: 100px;
    
    }
    
    #btn2{
        background: url(img/volt3.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        visibility: visible;
        margin-left: 5px;
        margin-top: 100px;
     }
     .botoes{
       
        margin-top: 60px;
        display: flex;
        justify-content: center;
    
        
     }
     #btn:hover{
       
        background-color: rgb(116, 1, 188);
     }
     #btn2:hover{
        background-color: rgb(116, 1, 188);
     }
     .sobre2 {
        display: flex;
      color: rgb(12, 151, 237);
      
        
       
     }
     
     .perfil{
       
        margin-left: 300px;
        
     }
    
     .menu-r button{
        background: transparent;
     } 
 }

 @media(min-width:768px) and (max-width:1024px){
    body{
  
        background-image: url(img/planeta-ficticio-com-ceu-noturno-colorido-estrelas-e-nebulosa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
         color: white;
         margin: 0;
         padding: 0;
         font-family: 'Poppins', sans-serif;
         height: 100%;
         width: 100%;
        overflow-x: hidden;
        animation:ani 2s linear reverse;
         
       
    
    }
    
    
    header{
         width: 100%;
        background-color: rgba(37, 34, 44, 0.534);
        padding-bottom: 30px;
        padding-top: 30px;
       
    
    }
    
    .btn button {
        width: 10px;
    }
    .caixa1{
        
        display: flex;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: 1.5s;
        width: 100%;
        justify-content: center;
       
     
    
       
    }
    
    
    .caixa1 img{
       display: flex;
        height: 200px;
        width: 200px;
        margin-right: 550px;
        margin-top: 190px;
        border-radius: 150px;
        animation-name: ani;
        animation:ani 2s linear reverse;
    
    }
    .a{
        margin-top: -250px;
    }
    .items{
        
        margin-top: -150px;
       
    }
    .items img:hover{
        transform: scale(0.8);
        transition: 1s;
    }
    .paragrafo{
        display: flex;
        justify-content: center;
        margin-top: -150px;
        
    }
    
    .paragrafo a{
       text-decoration: none;
       text-transform: uppercase;
       color: white;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       background-color: rgba(19, 19, 19, 0.33);
       padding-left: 5px;
       padding-right: 5px;
       border-radius: 10px;
        
    }
    .paragrafo2{
        display: flex;
        justify-content: center;
    }
    .paragrafo2 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .paragrafo3{
        display: flex;
        justify-content: center;
    }
    
    .paragrafo3 a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 0, 0.33);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
         
     }
    
    
    .menu{
        
        display: flex;
        justify-content: center;
        visibility: hidden;
       
        
    
    }
    .menu a{
        color:white;
        text-decoration: none;
        font-size: 25px;
        margin-left: 15px;
        padding-top: 10px;
        transform: scale(0.8);
        transition: 0.5s;
        
    
    }
    .menu a:hover{
        color:white;
        transform: scale(1.1);
        transition: 1s;
    }
    
    .N1{
        padding-right: 15px;
    }
    .n2{
        padding-right: 15px;
        padding-left: 15px;
        background-color: rgb(222, 75, 99);
        border-radius: 10px;
          
    }
    .n3{
        padding-right: 15px;
    }
    .img1 img{
        width: 55px;
    }
    
    .img1 img:hover{
        transform: scale(1.1);
    }
    
    
    #titulo{
        color: white;
        animation-name: ani;
        animation:ani 2s linear reverse;
        text-align: center;
        margin-top: -60PX;
    }
    #titulo img{
       margin-left: 250px;
       margin-top: -70px;
        width: 50px;
    
    }
    
    @keyframes ani{
      to{
     
      transform: translateX(-1890px);
      transition: 1s;
      
      }
     from{
       
       transform: translateX(0px);
       transition: 2s;
     }
    
    }
    
    .menu-r{
        display: flex;
        justify-content: right;
        margin-right: 50px;
    }
    .menu-r img{
        cursor: pointer;
        width: 50px;
        border-radius: 10px;
        border-width: 2px;
      
       
    }
    
    .menu-r img:hover{
       
    transform: scale(1.1);
    transition: 1s;
    }
    
    .titulo2 h1{
        display: flex;
        text-transform: uppercase;
       
    }
    .titulo2{
    
        display: flex;
        justify-content: center;
        margin-top: 150px;
        color: rgb(194, 167, 250);
        
    }
    #ba{
        transform: scale(1.0);
    }
    
    
    #con{
    visibility: hidden;
    width: 1500px;
    border-color: aqua;
    transform: scale(1);
    margin-top: -240px;
    }
    .rd h1{
       transform: scale(1);
        font-size: 15px;
        margin-top: -400px;
        margin-left: 545px;
        color: black;
        animation:ani 2s linear reverse;
      
    }
    #con .not{
        width: 800px;
        height: 500px;
        margin-top: -530px;
        margin-left: 350px;
      
    }
    
    
    .linke img{
        width: 140px;
        height: 150px;
        margin-top: -350px;
        margin-left: -95px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    .lin{
        float: left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -52px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
    }
    .linke2 img{
        width: 150px;
        height: 150px;
        margin-top: -350px;
        margin-left: -445px;
        transform: scale(1.1);
        -webkit-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    -moz-box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    box-shadow: 11px 13px 43px 21px rgba(0,0,0,1);
    }
    
    .git2{
        float:left;
        transform: scale(1.1);
        margin-top: 20px;
        margin-left: -395px;
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        animation:ani 2s linear reverse;
    }
    
    #con img:hover{
        transform: scale(1);
    }
    #btn{
        background: url(img/ir.png);
        background-size: cover;
       visibility: visible;
       width: 50px;
       height: 50px;
       margin-top: 100px;
    
    }
    
    #btn2{
        background: url(img/volt3.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        visibility: visible;
        margin-left: 5px;
        margin-top: 100px;
     }
     .botoes{
       
        margin-top: 60px;
        display: flex;
        justify-content: center;
    
        
     }
     #btn:hover{
       
        background-color: rgb(116, 1, 188);
     }
     #btn2:hover{
        background-color: rgb(116, 1, 188);
     }
     .sobre2 {
        display: flex;
      color: rgb(12, 151, 237);
      
        
       
     }
     
     .perfil{
       
        margin-left: 430px;
        
     }
    
     .menu-r button{
        background: transparent;
     } 
    
 }
 
 
 
 